body {
  background: #eee;
  font-family: sans-serif;

}

.card {
  width: 420px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  border-top: 10px solid white;
}

.content {
  background: #e3f4ff;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
  border-bottom: 10px solid white;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: auto;
  padding: 5px 20px;
}

.title,
.content,
.button-container {
  margin: 10px;
  padding: 10px;
}